<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Show message</title>
</head>
<body>
<h1>これからじゃんけんゲームをします</h1>
<p>グー なら 0<br>
チョキ なら 1<br>
パー なら 2<br>
<p> </p>
<p><%= mes %></p>
<p><%= mes2 %></p>
</p>
<form method="get" action="/top">
<input type="text" name="message">
<input type="submit" value="送信">
</form>

</body>
</html>